@import "tailwindcss";
* {
  font-family: "line_seed_sans_th" !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-size: 22px;
  padding: 2.3rem;
  font-weight: 800;
  box-shadow: 0,4,4,4 rgba(0,0,0,0.5);
}